<!-- <h1> Select an event by category </h1> -->
<!--
<ul>
<% @categories.each do |category| %>
    <li> <%#= link_to category.name, category_path(category) %> </li>
<% end %>
</ul> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <!-- <title>Bootstrap Theme Company Page</title> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>



  </style>
</head>
<body>


<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center bg-grey">
  <h2>Select an event by category</h2><br>
  <br></br>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/69903/pexels-photo-69903.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/1">Art</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/66134/pexels-photo-66134.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/2">Film</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/625644/pexels-photo-625644.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/3">Music</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/167386/pexels-photo-167386.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/4">Festival</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/5">Food and Drink</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/545058/pexels-photo-545058.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/6">Party</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/358024/pexels-photo-358024.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/7">Theatre</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/301987/pexels-photo-301987.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/8">Seminar</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img srcset="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg?h=350&auto=compress&cs=tinysrgb" alt="Yo" width="400" height="300">
        <p><strong><a href="/categories/9">Networking</a></strong></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
